
.redirect--url {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.return--url {
    @media (max-width: 500px) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 250px;
    }
}

.short-cut-url {
    @media (max-width: 500px) {
        border: none;
    }
}

.redirect--text {
    text-align: center;
}