
* {
    font-family: 'Updock', 'Square Peg', cursive;
}

.main--pick {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.main--title {
    text-align: center;
}

.main--title:hover {
    color: #fffff0;
    text-decoration: underline;
}

.form--main {
    margin-top: 20px;
}

input[type='url'] {
    width: 245px;
}

input[type='submit'] {
    height: 26px;
}

.return--url {
    margin: 20px 0px;
}

.short-cut-url {
    border-style: solid;
    padding: 2px;
    margin-right: 10px;
}

input[type='image'] {
    height: 28px;
    padding: 2px;
}